# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers/Contributors KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners


# MAINTAINERS

### KINGDICE666
# CI + Tooling
/.github/workflows/ @KINGDICE666
/code/tests/ @KINGDICE666
/tools/ci/ @KINGDICE666
_build_dependencies.sh @KINGDICE666

# Server Stuff
/SQL/ @KINGDICE666
/config/ @KINGDICE666

# Executables that need to be security-cleared
dreamchecker.exe @KINGDICE666
rust_g.dll @KINGDICE666

# MULTIPLE OWNERS
/_maps/ @KINGDICE666
