.adminooc {
  color: #29ccbe;
}

.debug {
  color: #8f39e6;
}

// MARK: Boxed messages

.boxed_message {
  background: #00000040;
  border-color: #dfb59f40;
}

.boxed_message.red_border {
  background: #16030340;
  border-color: #ff000080;
}

.boxed_message.green_border {
  background: #03160a40;
  border-color: #00ff0080;
}

.boxed_message.purple_border {
  background: #0a031640;
  border-color: #884dff80;
}

.boxed_message.notice_border {
  background: #030a1640;
  border-color: #557ef680;
}
