.adminooc {
  color: #29ccbe;
}

.debug {
  color: #8f39e6;
}

// MARK: Boxed messages

.boxed_message {
  background: #360a0a;
}

.boxed_message.red_border {
  background: #400000;
}

.boxed_message.green_border {
  background: #261900;
}

.boxed_message.purple_border {
  background: #260026;
}

.boxed_message.notice_border {
  background: #260016;
}
