// MARK: Boxed messages

.boxed_message {
  background: #1d2330;
}

.boxed_message.red_border {
  background: #301d1d;
}

.boxed_message.green_border {
  background: #1d3023;
}

.boxed_message.purple_border {
  background: #231d30;
}

.boxed_message.notice_border {
  background: #192234;
}
