// MARK: Boxed messages
.boxed_message {
  background: hsl(220, 25%, 15%);

  &.red_box {
    background: hsl(0, 25%, 15%);
  }

  &.green_box {
    background: hsl(140, 25%, 15%);
  }

  &.blue_box {
    background: hsl(220, 35%, 15%);
  }

  &.purple_box {
    background: hsl(260, 25%, 15%);
  }

  &.yellow_box {
    background: hsl(50, 25%, 15%);
  }
}

.fieldset_legend {
  background: hsl(213.8, 30.8%, 10.2%);

  &:before {
    background: hsl(213.8, 30.8%, 10.2%);
  }
}
