.adminooc {
  color: #29ccbe;
}

.debug {
  color: #8f39e6;
}

/* Chat boxes */

/*
.fieldset_legend {
  position: relative;
  max-width: 95%;
  font-size: 120%;
  background-color: var(--color-section);
  padding: var(--space-s) var(--space-m);
  border-color: inherit;
  z-index: 0;

  &:before {
    content: '';
    position: absolute;
    inset: 0;
    border: var(--border-thickness-tiny) solid;
    border-color: inherit;
    border-radius: var(--border-radius-medium);
    mask-image: linear-gradient(to top, black 50%, transparent 50%);
    z-index: -1;
  }
}
*/
.boxed_message {
  background: #1b1c1e;
  border: 1px solid #a3b9d940;
  margin: 0.5em;
  padding: 0.5em 0.75em;
  border-radius: 0.5em;
}

.boxed_message.red_border {
  background: #1e1b1b;
  border-color: #ff000080;
}

.boxed_message.green_border {
  background: #1b1e1c;
  border-color: #00ff0080;
}

.boxed_message.blue_border {
  background: #1b1c22;
  border-color: #0000ff80;
}

.boxed_message.purple_border {
  background: #1d1c20;
  border-color: #8b00ff80;
}

.boxed_message.yellow_border {
  background: #1d1c20;
  border-color: #ffff0080;
}

.boxed_message.left_align_text {
  text-align: left;
}

.boxed_message.thick_border {
  border-width: thick;
}
