@use 'sass:map';

$background: hsl(0, 0%, 7.5%);
$button: hsl(0, 0%, 12.2%);
$lightMode: hsl(0, 0%, 100%);
$lightBorder: hsl(0, 0%, 73.3%);
$lightHover: hsl(0, 0%, 91.8%);
$scrollbar-color-multiplier: 1 !default;

$_channel_map: (
  'ИИ': #ff5ed7,
  'Admin': #ffbbff,
  'Бинарный': #1e90ff,
  'Команд': #2681a5,
  'Отдел': #993399,
  'Dsay': #b486b4,
  'ОБР': #2681a5,
  'Инж': #f37746,
  'Интерком': #a4bad6,
  'Л-Ухо': #a4bad6,
  'LOOC': #6699cc,
  'Эмоция': #5975da,
  'Мед': #57b8f0,
  'Mentor': #d6c208,
  'Dev': #61b413,
  'OOC': #cca300,
  'Юр': #b84f92,
  'П-Ухо': #a4bad6,
  'Радио': #1ecc43,
  'Сказать': #a4bad6,
  'Наука': #c68cfa,
  'СБ': #dd3535,
  'Обслуж': #6ca729,
  'ССО': #2681a5,
  'Спец': #1e90ff,
  'Снабж': #b88646,
  'Синди': #8f4a4b,
  'ДОС': #8f4a4b,
  'Шёпот': #a4bad6,
  'Тайпан': #998e54,
  'СССП': #f7941d,
  'Закл': #ff831a,
  'КланПаука': #1ecc43,
  'Альфа': #88910f,
  'Бета': #1d83f7,
  'Гамма': #d46549,
);

$channel_keys: map.keys($_channel_map) !default;

$channel-map: ();

@each $channel in $channel_keys {
  $channel-map: map.merge(
    $channel-map,
    (
      $channel: map.get($_channel_map, $channel),
    )
  );
}
