@use 'sass:map';

$background: hsl(0, 0%, 7.5%);
$button: hsl(0, 0%, 12.2%);
$lightMode: hsl(0, 0%, 100%);
$lightBorder: hsl(0, 0%, 73.3%);
$lightHover: hsl(0, 0%, 91.8%);
$scrollbar-color-multiplier: 1 !default;

$_channel_map: (
  'ИИ': hsl(315, 100%, 68%),
  'Admin': hsl(300, 100%, 87%),
  'Бинарный': hsl(210, 100%, 56%),
  'Команд': hsl(197, 63%, 40%),
  'Отдел': hsl(300, 50%, 40%),
  'Dsay': hsl(300, 23%, 62%),
  'ОБР': hsl(197, 63%, 40%),
  'Инж': hsl(17, 88%, 61%),
  'Интерком': hsl(214, 38%, 74%),
  'Л-Ухо': hsl(214, 38%, 74%),
  'LOOC': hsl(210, 50%, 60%),
  'Эмоция': hsl(227, 64%, 60%),
  'Мед': hsl(202, 84%, 64%),
  'Mentor': hsl(54, 93%, 44%),
  'Dev': hsl(91, 81%, 39%),
  'OOC': hsl(48, 100%, 40%),
  'Юр': hsl(322, 43%, 52%),
  'П-Ухо': hsl(214, 38%, 74%),
  'Радио': hsl(133, 74%, 46%),
  'Сказать': hsl(214, 38%, 74%),
  'Наука': hsl(272, 92%, 76%),
  'СБ': hsl(0, 71%, 54%),
  'Обслуж': hsl(88, 61%, 41%),
  'ССО': hsl(197, 63%, 40%),
  'Спец': hsl(210, 100%, 56%),
  'Снабж': hsl(34, 45%, 50%),
  'Синди': hsl(359, 32%, 43%),
  'ДОС': hsl(359, 32%, 43%),
  'Шёпот': hsl(214, 38%, 74%),
  'Тайпан': hsl(50, 29%, 46%),
  'СССП': hsl(33, 93%, 54%),
  'Закл': hsl(28, 100%, 55%),
  'КланПаука': hsl(133, 74%, 46%),
  'Альфа': hsl(64, 81%, 31%),
  'Бета': hsl(212, 93%, 54%),
  'Гамма': hsl(12, 62%, 56%),
);

$channel_keys: map.keys($_channel_map) !default;

$channel-map: ();

@each $channel in $channel_keys {
  $channel-map: map.merge(
    $channel-map,
    (
      $channel: map.get($_channel_map, $channel),
    )
  );
}
