@use 'sass:color';
@use './colors.scss';

.old-window {
  background-color: colors.$background;
  display: flex;
  flex-direction: column;
  max-width: 275px;
  overflow: hidden;
}

// Remove with 516
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .old-window {
    height: 100%;
    width: 100%;
  }
}

.old-window-lightMode {
  background-color: colors.$lightMode;
}

/** Window sizes */
.old-window-30 {
  height: 30px;
}

.old-window-50 {
  height: 50px;
}

.old-window-70 {
  height: 70px;
}
