body {
	color: #00ff00; 
	background: #000000; 
	font-family:"Courier New", Courier, monospace; 
	font-size: 12px;
}

a {
	padding:2px 5px; 
	background:#32CD32;
	color:#000;
	display:block;
	margin:2px;
	text-align:center;
	text-decoration:none;
}