body {
	font-size: 80%;
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	background-color: #121212;
	color: #e0e0e0;
  }

  ul#tabs {
	list-style-type: none;
	margin: 10px 0 0 0;
	padding: 0 0 0.6em 0;
  }

  ul#tabs li {
	display: inline;
  }

  ul#tabs li a {
	color: #e0e0e0;
	background-color: #333;
	border: 1px solid #555;
	border-bottom: none;
	padding: 0.6em;
	text-decoration: none;
  }

  ul#tabs li a:hover {
	background-color: #444;
  }

  ul#tabs li a.selected {
	color: #fff;
	background-color: #222;
	border-bottom: 1px solid #222;
	font-weight: bold;
	padding: 0.6em;
  }

  ul#maintabs {
	list-style-type: none;
	margin: 30px 0 0 0;
	padding: 0 0 1em 0;
	font-size: 14px;
  }

  ul#maintabs li {
	display: inline;
  }

  ul#maintabs li a {
	color: #e0e0e0;
	background-color: #333;
	border: 1px solid #555;
	padding: 1em;
	text-decoration: none;
  }

  ul#maintabs li a:hover {
	background-color: #444;
  }

  ul#maintabs li a.selected {
	color: #fff;
	background-color: #222;
	font-weight: bold;
	padding: 1.4em 1.2em 1em 1.2em;
  }

  div.tabContent {
	border: 1px solid #555;
	padding: 0.5em;
	background-color: #222;
	color: #e0e0e0;
  }

  div.tabContent.hide {
	display: none;
  }
