.CodexGigas__final-name-container {
  text-align: center;
  padding: 10px;
  background-color: rgba(85, 2, 2, 0.8);
  border-radius: 10px;
}

.CodexGigas__final-name {
  font-size: 1.6rem;
  font-weight: bold;
  color: #ff4500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.CodexGigas__italic-text {
  text-align: center;
  font-style: italic;
  color: #dddddd;
}

.CodexGigas__title {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  color: #ffcc00;
}

.CodexGigas__info-text {
  text-align: left;
  font-size: 1.2rem;
  color: #cccccc;
}

.CodexGigas__button {
  margin: 5px;
  padding: 5px;
  font-size: 1rem;
  background-color: #550202;
  color: #ffcc00;
  border-radius: 5px;
}

.CodexGigas__search-button {
  margin: 5px;
  margin-top: 10px;
  padding: 5px;
  font-size: 1rem;
  width: 40%;
  background-color: #9d0808;
  color: #ffffff;
  border-radius: 5px;
}

.CodexGigas__centered {
  text-align: center;
  margin-top: 20px;
}
