@use 'sass:map';
@use '../colors.scss';
@use '../base.scss';

$fg-map: colors.$fg-map !default;

.CircuitInfo__Examined {
  background-color: rgba(0, 0, 0, 1);
  padding: 8px;
  border-radius: 5px;

  user-select: none;
  pointer-events: none;
}

.ObjectComponent {
  pointer-events: auto;
}

.ObjectComponent__Titlebar {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  white-space: nowrap;

  -ms-user-select: none;
  user-select: none;
}

.ObjectComponent__Content {
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.5);

  -ms-user-select: none;
  user-select: none;
}

.ObjectComponent__Greyed_Content {
  white-space: nowrap;
  background-color: rgba(19, 19, 19, 0.5);

  -ms-user-select: none;
  user-select: none;
}

.ObjectComponent__Port {
  position: relative;
  width: 13px;
  height: 13px;
}

.ObjectComponent__PortPos {
  position: absolute;
  inset: 0;
}

@each $color-name, $color-value in $fg-map {
  .color-stroke-#{$color-name} {
    stroke: $color-value !important;
  }

  .color-fill-#{$color-name} {
    fill: $color-value !important;
  }
}

$border-color: #75baff !default;
$border-radius: base.$border-radius !default;

.IntegratedCircuit__BlueBorder {
  border: base.em(1px) solid $border-color;
  border: base.em(1px) solid rgba($border-color, 0.75);
  border-radius: $border-radius;
}

$category-colors: (
  'Utility': (
    bg: #0d6826,
    contrast: white,
  ),
  'Entity': (
    bg: #aa32c8,
    contrast: white,
  ),
  'Sensor': (
    bg: #e26e9b,
    contrast: white,
  ),
  'Math': (
    bg: #3cc62a,
    contrast: black,
  ),
  'Unassigned': (
    bg: #2a7dc6,
    contrast: white,
  ),
  'String': (
    bg: #e16614,
    contrast: white,
  ),
  'List': (
    bg: #ababab,
    contrast: black,
  ),
  'Action': (
    bg: #2fb6b2,
    contrast: black,
  ),
  'ID': (
    bg: #d6be1f,
    contrast: black,
  ),
  'NTNet': (
    bg: #282bb8,
    contrast: white,
  ),
  'Abstract': (
    bg: #2a7dc6,
    contrast: white,
  ),
  'Admin': (
    bg: #db2424,
    contrast: white,
  ),
  'BCI': (
    bg: black,
    contrast: white,
  ),
);

@each $category-name, $values in $category-colors {
  .ObjectComponent__Category__#{$category-name} {
    background-color: map.get($values, bg);
    color: map.get($values, contrast);
  }
}
