.Minesweeper__closed {
  vertical-align: middle;
  border: 3px outset #fcfcfc;
  font-size: 15px;
}

.Minesweeper__open {
  vertical-align: middle;
  text-align: center;
  font-size: medium;
  background-color: rgb(178, 178, 178) !important;
}

.Minesweeper__message {
  font-size: medium;
}
