@use 'sass:color';
@use '../colors.scss';

.QuestConsoleSection {
  border-radius: 4px;
  border: 1px solid transparent;

  .Section__title {
    border-bottom-width: 3px;
  }

  &--green {
    &.QuestConsoleSection--active {
      border-color: var(--color-green);
    }
    .Section__title {
      border-bottom-color: var(--color-green);
    }
  }
  &--yellow {
    &.QuestConsoleSection--active {
      border-color: var(--color-yellow);
    }
    .Section__title {
      border-bottom-color: var(--color-yellow);
    }
  }
  &--orange {
    &.QuestConsoleSection--active {
      border-color: var(--color-orange);
    }
    .Section__title {
      border-bottom-color: var(--color-orange);
    }
  }
  &--purple {
    &.QuestConsoleSection--active {
      border-color: var(--color-purple);
    }
    .Section__title {
      border-bottom-color: var(--color-purple);
    }
  }
  &:not(&--dimmed):hover {
    background-color: hsl(from var(--section-background) h s calc(l + 30%));

    cursor: pointer;
  }
}
