.Safe {
  &--engraving {
    position: absolute;
    width: 95%;
    height: 96%;
    left: 2.5%;
    top: 2%;
    border: 5px outset hsl(216.8, 26.2%, 32.9%);
    padding: 5px;
    text-align: center;

    &--arrow {
      color: hsl(217.3, 25.9%, 28%);
    }

    &--hinge {
      content: ' ';
      background-color: hsl(218.8, 25.4%, 13.1%);
      width: 25px;
      height: 40px;
      position: absolute;
      right: -15px;
      margin-top: -20px;
    }
  }

  &--dialer {
    margin-bottom: 0.5rem;

    &--number {
      color: hsl(0, 0%, 73.3%);
      display: inline;
      background-color: hsl(218.8, 25.4%, 13.1%);
      font-size: 1.5rem;
      font-weight: bold;
      padding: 0 0.5rem;
    }

    &--right {
      .Button {
        i {
          z-index: -100;
        }
      }
    }

    .Button {
      width: 80px;
    }
  }

  &--contents {
    border: 10px solid hsl(218.8, 25.4%, 13.1%);
    background-color: hsl(218.2, 26.8%, 8%);
    height: calc(85% + 7.5px);
    text-align: left;
    padding: 5px;
  }

  &--help {
    position: absolute;
    bottom: 10px;
    left: 5px;
    width: 50%;
  }
}
