.seeds32x32{display:inline-block;width:32px;height:32px;background:url('%seeds_32x32.png%') no-repeat;}
.seeds32x32.seeds-sample{background-position:-0px -0px;}
.seeds32x32.seeds-sample-alienweed{background-position:-32px -0px;}
.seeds32x32.seeds-ambrosia{background-position:-64px -0px;}
.seeds32x32.seeds-ambrosia-deus{background-position:-96px -0px;}
.seeds32x32.seeds-ambrosia-gaia{background-position:-128px -0px;}
.seeds32x32.seeds-ambrosia-cruciatus{background-position:-160px -0px;}
.seeds32x32.seeds-apple{background-position:-192px -0px;}
.seeds32x32.seeds-apple-poisoned{background-position:-224px -0px;}
.seeds32x32.seeds-apple-gold{background-position:-256px -0px;}
.seeds32x32.seeds-banana{background-position:-288px -0px;}
.seeds32x32.seeds-banana-mime{background-position:-320px -0px;}
.seeds32x32.seeds-banana-bluespace{background-position:-352px -0px;}
.seeds32x32.seeds-soya{background-position:-0px -32px;}
.seeds32x32.seeds-soya-koi{background-position:-32px -32px;}
.seeds32x32.seeds-soya-olive{background-position:-64px -32px;}
.seeds32x32.seeds-soya-olive-charc{background-position:-96px -32px;}
.seeds32x32.seeds-berry{background-position:-128px -32px;}
.seeds32x32.seeds-berry-poison{background-position:-160px -32px;}
.seeds32x32.seeds-berry-death{background-position:-192px -32px;}
.seeds32x32.seeds-berry-glow{background-position:-224px -32px;}
.seeds32x32.seeds-cherry{background-position:-256px -32px;}
.seeds32x32.seeds-cherry-blue{background-position:-288px -32px;}
.seeds32x32.seeds-cherry-bomb{background-position:-320px -32px;}
.seeds32x32.seeds-grape{background-position:-352px -32px;}
.seeds32x32.seeds-grape-green{background-position:-0px -64px;}
.seeds32x32.seeds-cannabis{background-position:-32px -64px;}
.seeds32x32.seeds-cannabis-rainbow{background-position:-64px -64px;}
.seeds32x32.seeds-cannabis-death{background-position:-96px -64px;}
.seeds32x32.seeds-cannabis-white{background-position:-128px -64px;}
.seeds32x32.seeds-cannabis-ultimate{background-position:-160px -64px;}
.seeds32x32.seeds-wheat{background-position:-192px -64px;}
.seeds32x32.seeds-wheat-oat{background-position:-224px -64px;}
.seeds32x32.seeds-wheat-buckwheat{background-position:-256px -64px;}
.seeds32x32.seeds-wheat-rice{background-position:-288px -64px;}
.seeds32x32.seeds-wheat-meat{background-position:-320px -64px;}
.seeds32x32.seeds-chili{background-position:-352px -64px;}
.seeds32x32.seeds-chili-ice{background-position:-0px -96px;}
.seeds32x32.seeds-chili-ghost{background-position:-32px -96px;}
.seeds32x32.seeds-lime{background-position:-64px -96px;}
.seeds32x32.seeds-orange{background-position:-96px -96px;}
.seeds32x32.seeds-lemon{background-position:-128px -96px;}
.seeds32x32.seeds-firelemon{background-position:-160px -96px;}
.seeds32x32.seeds-orange_3d{background-position:-192px -96px;}
.seeds32x32.seeds-coca{background-position:-224px -96px;}
.seeds32x32.seeds-cocoapod{background-position:-256px -96px;}
.seeds32x32.seeds-cocoapod-vanillapod{background-position:-288px -96px;}
.seeds32x32.seeds-cocoapod-bungotree{background-position:-320px -96px;}
.seeds32x32.seeds-corn{background-position:-352px -96px;}
.seeds32x32.seeds-corn-snapcorn{background-position:-0px -128px;}
.seeds32x32.seeds-cotton{background-position:-32px -128px;}
.seeds32x32.seeds-cotton-durathread{background-position:-64px -128px;}
.seeds32x32.seeds-cucumber{background-position:-96px -128px;}
.seeds32x32.seeds-eggplant{background-position:-128px -128px;}
.seeds32x32.seeds-eggplant-eggy{background-position:-160px -128px;}
.seeds32x32.seeds-poppy{background-position:-192px -128px;}
.seeds32x32.seeds-lily{background-position:-224px -128px;}
.seeds32x32.seeds-geranium{background-position:-256px -128px;}
.seeds32x32.seeds-geranium-forgetmenot{background-position:-288px -128px;}
.seeds32x32.seeds-moonlight{background-position:-320px -128px;}
.seeds32x32.seeds-harebell{background-position:-352px -128px;}
.seeds32x32.seeds-sunflower{background-position:-0px -160px;}
.seeds32x32.seeds-sunflower-moonflower{background-position:-32px -160px;}
.seeds32x32.seeds-sunflower-novaflower{background-position:-64px -160px;}
.seeds32x32.seeds-shavel{background-position:-96px -160px;}
.seeds32x32.seeds-garlic{background-position:-128px -160px;}
.seeds32x32.seeds-grass{background-position:-160px -160px;}
.seeds32x32.seeds-grass-carpet{background-position:-192px -160px;}
.seeds32x32.seeds-comfrey{background-position:-224px -160px;}
.seeds32x32.seeds-aloe{background-position:-256px -160px;}
.seeds32x32.seeds-kudzu{background-position:-288px -160px;}
.seeds32x32.seeds-watermelon{background-position:-320px -160px;}
.seeds32x32.seeds-watermelon-holy{background-position:-352px -160px;}
.seeds32x32.seeds-starthistle{background-position:-0px -192px;}
.seeds32x32.seeds-cabbage{background-position:-32px -192px;}
.seeds32x32.seeds-sugarcane{background-position:-64px -192px;}
.seeds32x32.seeds-gatfruit{background-position:-96px -192px;}
.seeds32x32.seeds-reishi{background-position:-128px -192px;}
.seeds32x32.seeds-amanita{background-position:-160px -192px;}
.seeds32x32.seeds-angel{background-position:-192px -192px;}
.seeds32x32.seeds-liberty{background-position:-224px -192px;}
.seeds32x32.seeds-plump{background-position:-256px -192px;}
.seeds32x32.seeds-plump-walkingmushroom{background-position:-288px -192px;}
.seeds32x32.seeds-chanter{background-position:-320px -192px;}
.seeds32x32.seeds-glowshroom{background-position:-352px -192px;}
.seeds32x32.seeds-glowshroom-glowcap{background-position:-0px -224px;}
.seeds32x32.seeds-glowshroom-shadowshroom{background-position:-32px -224px;}
.seeds32x32.seeds-fungus{background-position:-64px -224px;}
.seeds32x32.seeds-nettle{background-position:-96px -224px;}
.seeds32x32.seeds-nettle-death{background-position:-128px -224px;}
.seeds32x32.seeds-nymph{background-position:-160px -224px;}
.seeds32x32.seeds-onion{background-position:-192px -224px;}
.seeds32x32.seeds-onion-red{background-position:-224px -224px;}
.seeds32x32.seeds-peanuts{background-position:-256px -224px;}
.seeds32x32.seeds-peas{background-position:-288px -224px;}
.seeds32x32.seeds-peas-laugh{background-position:-320px -224px;}
.seeds32x32.seeds-peas-laugh-peace{background-position:-352px -224px;}
.seeds32x32.seeds-pineapple{background-position:-0px -256px;}
.seeds32x32.seeds-potato{background-position:-32px -256px;}
.seeds32x32.seeds-potato-sweet{background-position:-64px -256px;}
.seeds32x32.seeds-pumpkin{background-position:-96px -256px;}
.seeds32x32.seeds-pumpkin-blumpkin{background-position:-128px -256px;}
.seeds32x32.seeds-random{background-position:-160px -256px;}
.seeds32x32.seeds-random-labelled{background-position:-192px -256px;}
.seeds32x32.seeds-replicapod{background-position:-224px -256px;}
.seeds32x32.seeds-carrot{background-position:-256px -256px;}
.seeds32x32.seeds-carrot-parsnip{background-position:-288px -256px;}
.seeds32x32.seeds-whitebeet{background-position:-320px -256px;}
.seeds32x32.seeds-redbeet{background-position:-352px -256px;}
.seeds32x32.seeds-tea{background-position:-0px -288px;}
.seeds32x32.seeds-tea-astra{background-position:-32px -288px;}
.seeds32x32.seeds-coffee{background-position:-64px -288px;}
.seeds32x32.seeds-coffee-robusta{background-position:-96px -288px;}
.seeds32x32.seeds-tobacco{background-position:-128px -288px;}
.seeds32x32.seeds-tobacco-space{background-position:-160px -288px;}
.seeds32x32.seeds-tomato{background-position:-192px -288px;}
.seeds32x32.seeds-tomato-blood{background-position:-224px -288px;}
.seeds32x32.seeds-tomato-debug{background-position:-256px -288px;}
.seeds32x32.seeds-tomato-blue{background-position:-288px -288px;}
.seeds32x32.seeds-tomato-blue-bluespace{background-position:-320px -288px;}
.seeds32x32.seeds-tomato-killer{background-position:-352px -288px;}
.seeds32x32.seeds-tower{background-position:-0px -320px;}
.seeds32x32.seeds-tower-steel{background-position:-32px -320px;}
.seeds32x32.seeds-bamboo{background-position:-64px -320px;}
.seeds32x32.seeds-lavaland{background-position:-96px -320px;}
.seeds32x32.seeds-lavaland-cactus{background-position:-128px -320px;}
.seeds32x32.seeds-lavaland-polypore{background-position:-160px -320px;}
.seeds32x32.seeds-lavaland-porcini{background-position:-192px -320px;}
.seeds32x32.seeds-lavaland-inocybe{background-position:-224px -320px;}
.seeds32x32.seeds-lavaland-ember{background-position:-256px -320px;}
.seeds32x32.seeds-lavaland-fireblossom{background-position:-288px -320px;}