.chem_master16x16{display:inline-block;width:16px;height:16px;background:url('%chem_master_16x16.png%') no-repeat;}
.chem_master16x16.pill1{background-position:-0px -0px;}
.chem_master16x16.pill2{background-position:-16px -0px;}
.chem_master16x16.pill3{background-position:-32px -0px;}
.chem_master16x16.pill4{background-position:-48px -0px;}
.chem_master16x16.pill5{background-position:-64px -0px;}
.chem_master16x16.pill6{background-position:-80px -0px;}
.chem_master16x16.pill7{background-position:-96px -0px;}
.chem_master16x16.pill8{background-position:-0px -16px;}
.chem_master16x16.pill9{background-position:-16px -16px;}
.chem_master16x16.pill10{background-position:-32px -16px;}
.chem_master16x16.pill11{background-position:-48px -16px;}
.chem_master16x16.pill12{background-position:-64px -16px;}
.chem_master16x16.pill13{background-position:-80px -16px;}
.chem_master16x16.pill14{background-position:-96px -16px;}
.chem_master16x16.pill15{background-position:-0px -32px;}
.chem_master16x16.pill16{background-position:-16px -32px;}
.chem_master16x16.pill17{background-position:-32px -32px;}
.chem_master16x16.pill18{background-position:-48px -32px;}
.chem_master16x16.pill19{background-position:-64px -32px;}
.chem_master16x16.pill20{background-position:-80px -32px;}
.chem_master16x16.bottle{background-position:-96px -32px;}
.chem_master16x16.small_bottle{background-position:-0px -48px;}
.chem_master16x16.wide_bottle{background-position:-16px -48px;}
.chem_master16x16.round_bottle{background-position:-32px -48px;}
.chem_master16x16.reagent_bottle{background-position:-48px -48px;}
.chem_master16x16.bandaid1{background-position:-64px -48px;}
.chem_master16x16.bandaid2{background-position:-80px -48px;}
.chem_master16x16.bandaid3{background-position:-96px -48px;}
.chem_master16x16.bandaid4{background-position:-0px -64px;}
.chem_master16x16.bandaid5{background-position:-16px -64px;}
.chem_master16x16.bandaid6{background-position:-32px -64px;}
.chem_master16x16.bandaid7{background-position:-48px -64px;}
.chem_master16x16.bandaid8{background-position:-64px -64px;}
.chem_master16x16.bandaid9{background-position:-80px -64px;}
.chem_master16x16.bandaid10{background-position:-96px -64px;}
.chem_master16x16.bandaid11{background-position:-0px -80px;}
.chem_master16x16.bandaid12{background-position:-16px -80px;}
.chem_master16x16.bandaid13{background-position:-32px -80px;}
.chem_master16x16.bandaid14{background-position:-48px -80px;}
.chem_master16x16.bandaid15{background-position:-64px -80px;}
.chem_master16x16.bandaid16{background-position:-80px -80px;}
.chem_master16x16.bandaid17{background-position:-96px -80px;}
.chem_master16x16.bandaid18{background-position:-0px -96px;}
.chem_master16x16.bandaid19{background-position:-16px -96px;}
.chem_master16x16.bandaid20{background-position:-32px -96px;}