.id_card64x64{display:inline-block;width:64px;height:64px;background:url('%id_card_64x64.png%') no-repeat;}
.id_card64x64.data{background-position:-0px -0px;}
.id_card64x64.id{background-position:-64px -0px;}
.id_card64x64.gold{background-position:-128px -0px;}
.id_card64x64.silver{background-position:-192px -0px;}
.id_card64x64.centcom{background-position:-256px -0px;}
.id_card64x64.centcom_old{background-position:-320px -0px;}
.id_card64x64.security{background-position:-0px -64px;}
.id_card64x64.medical{background-position:-64px -64px;}
.id_card64x64.HoS{background-position:-128px -64px;}
.id_card64x64.research{background-position:-192px -64px;}
.id_card64x64.cargo{background-position:-256px -64px;}
.id_card64x64.engineering{background-position:-320px -64px;}
.id_card64x64.CMO{background-position:-0px -128px;}
.id_card64x64.RD{background-position:-64px -128px;}
.id_card64x64.CE{background-position:-128px -128px;}
.id_card64x64.clown{background-position:-192px -128px;}
.id_card64x64.mime{background-position:-256px -128px;}
.id_card64x64.rainbow{background-position:-320px -128px;}
.id_card64x64.prisoner{background-position:-0px -192px;}
.id_card64x64.commander{background-position:-64px -192px;}
.id_card64x64.syndie{background-position:-128px -192px;}
.id_card64x64.syndierd{background-position:-192px -192px;}
.id_card64x64.syndiebotany{background-position:-256px -192px;}
.id_card64x64.syndiecargo{background-position:-320px -192px;}
.id_card64x64.syndiernd{background-position:-0px -256px;}
.id_card64x64.syndieengineer{background-position:-64px -256px;}
.id_card64x64.syndiechef{background-position:-128px -256px;}
.id_card64x64.syndiemedical{background-position:-192px -256px;}
.id_card64x64.deathsquad{background-position:-256px -256px;}
.id_card64x64.ERT_leader{background-position:-320px -256px;}
.id_card64x64.ERT_security{background-position:-0px -320px;}
.id_card64x64.ERT_engineering{background-position:-64px -320px;}
.id_card64x64.ERT_medical{background-position:-128px -320px;}
.id_card64x64.ERT_janitorial{background-position:-192px -320px;}