.roboquest64x64{display:inline-block;width:64px;height:64px;background:url('%roboquest_64x64.png%') no-repeat;}
.roboquest64x64.mecha_parts-mecha_equipment-medical{background-position:-0px -0px;}
.roboquest64x64.mecha_parts-mecha_equipment-medical-sleeper{background-position:-64px -0px;}
.roboquest64x64.mecha_parts-mecha_equipment-medical-syringe_gun{background-position:-128px -0px;}
.roboquest64x64.mecha_parts-mecha_equipment-medical-syringe_gun_upgrade{background-position:-192px -0px;}
.roboquest64x64.mecha_parts-mecha_equipment-medical-rescue_jaw{background-position:-256px -0px;}
.roboquest64x64.mecha_parts-mecha_equipment-drill{background-position:-320px -0px;}
.roboquest64x64.mecha_parts-mecha_equipment-drill-diamonddrill{background-position:-384px -0px;}
.roboquest64x64.mecha_parts-mecha_equipment-drill-giga{background-position:-448px -0px;}
.roboquest64x64.mecha_parts-mecha_equipment-drill-makeshift{background-position:-512px -0px;}
.roboquest64x64.mecha_parts-mecha_equipment-mining_scanner{background-position:-576px -0px;}
.roboquest64x64.mecha_parts-mecha_equipment-teleporter{background-position:-640px -0px;}
.roboquest64x64.mecha_parts-mecha_equipment-teleporter-precise{background-position:-0px -64px;}
.roboquest64x64.mecha_parts-mecha_equipment-wormhole_generator{background-position:-64px -64px;}
.roboquest64x64.mecha_parts-mecha_equipment-gravcatapult{background-position:-128px -64px;}
.roboquest64x64.mecha_parts-mecha_equipment-anticcw_armor_booster{background-position:-192px -64px;}
.roboquest64x64.mecha_parts-mecha_equipment-antiproj_armor_booster{background-position:-256px -64px;}
.roboquest64x64.mecha_parts-mecha_equipment-repair_droid{background-position:-320px -64px;}
.roboquest64x64.mecha_parts-mecha_equipment-tesla_energy_relay{background-position:-384px -64px;}
.roboquest64x64.mecha_parts-mecha_equipment-generator{background-position:-448px -64px;}
.roboquest64x64.mecha_parts-mecha_equipment-generator-nuclear{background-position:-512px -64px;}
.roboquest64x64.mecha_parts-mecha_equipment-servo_hydra_actuator{background-position:-576px -64px;}
.roboquest64x64.mecha_parts-mecha_equipment-improved_exosuit_control_system{background-position:-640px -64px;}
.roboquest64x64.mecha_parts-mecha_equipment-hydraulic_clamp{background-position:-0px -128px;}
.roboquest64x64.mecha_parts-mecha_equipment-hydraulic_clamp-kill{background-position:-64px -128px;}
.roboquest64x64.mecha_parts-mecha_equipment-hydraulic_clamp-makeshift{background-position:-128px -128px;}
.roboquest64x64.mecha_parts-mecha_equipment-cargo_upgrade{background-position:-192px -128px;}
.roboquest64x64.mecha_parts-mecha_equipment-rcd{background-position:-256px -128px;}
.roboquest64x64.mecha_parts-mecha_equipment-mimercd{background-position:-320px -128px;}
.roboquest64x64.mecha_parts-mecha_equipment-multimodule{background-position:-384px -128px;}
.roboquest64x64.mecha_parts-mecha_equipment-multimodule-atmos_module{background-position:-448px -128px;}
.roboquest64x64.mecha_parts-mecha_equipment-cable_layer{background-position:-512px -128px;}
.roboquest64x64.mecha_parts-mecha_equipment-extinguisher{background-position:-576px -128px;}
.roboquest64x64.mecha_parts-mecha_equipment-holowall{background-position:-640px -128px;}
.roboquest64x64.mecha_parts-mecha_equipment-eng_toolset{background-position:-0px -192px;}
.roboquest64x64.mecha_parts-mecha_equipment-weapon{background-position:-64px -192px;}
.roboquest64x64.mecha_parts-mecha_equipment-weapon-energy{background-position:-128px -192px;}
.roboquest64x64.mecha_parts-mecha_equipment-weapon-energy-laser{background-position:-192px -192px;}
.roboquest64x64.mecha_parts-mecha_equipment-weapon-energy-laser-disabler{background-position:-256px -192px;}
.roboquest64x64.mecha_parts-mecha_equipment-weapon-energy-laser-heavy{background-position:-320px -192px;}
.roboquest64x64.mecha_parts-mecha_equipment-weapon-energy-ion{background-position:-384px -192px;}
.roboquest64x64.mecha_parts-mecha_equipment-weapon-energy-ionshotgun{background-position:-448px -192px;}
.roboquest64x64.mecha_parts-mecha_equipment-weapon-energy-tesla{background-position:-512px -192px;}
.roboquest64x64.mecha_parts-mecha_equipment-weapon-energy-xray{background-position:-576px -192px;}
.roboquest64x64.mecha_parts-mecha_equipment-weapon-energy-xray-triple{background-position:-640px -192px;}
.roboquest64x64.mecha_parts-mecha_equipment-weapon-energy-immolator{background-position:-0px -256px;}
.roboquest64x64.mecha_parts-mecha_equipment-weapon-energy-pulse{background-position:-64px -256px;}
.roboquest64x64.mecha_parts-mecha_equipment-weapon-energy-taser{background-position:-128px -256px;}
.roboquest64x64.mecha_parts-mecha_equipment-weapon-energy-plasma{background-position:-192px -256px;}
.roboquest64x64.mecha_parts-mecha_equipment-weapon-energy-mecha_kineticgun{background-position:-256px -256px;}
.roboquest64x64.mecha_parts-mecha_equipment-weapon-honker{background-position:-320px -256px;}
.roboquest64x64.mecha_parts-mecha_equipment-weapon-ballistic{background-position:-384px -256px;}
.roboquest64x64.mecha_parts-mecha_equipment-weapon-ballistic-carbine{background-position:-448px -256px;}
.roboquest64x64.mecha_parts-mecha_equipment-weapon-ballistic-carbine-silenced{background-position:-512px -256px;}
.roboquest64x64.mecha_parts-mecha_equipment-weapon-ballistic-scattershot{background-position:-576px -256px;}
.roboquest64x64.mecha_parts-mecha_equipment-weapon-ballistic-scattershot-syndi{background-position:-640px -256px;}
.roboquest64x64.mecha_parts-mecha_equipment-weapon-ballistic-lmg{background-position:-0px -320px;}
.roboquest64x64.mecha_parts-mecha_equipment-weapon-ballistic-lmg-syndi{background-position:-64px -320px;}
.roboquest64x64.mecha_parts-mecha_equipment-weapon-ballistic-lmg-dual{background-position:-128px -320px;}
.roboquest64x64.mecha_parts-mecha_equipment-weapon-ballistic-amlg{background-position:-192px -320px;}
.roboquest64x64.mecha_parts-mecha_equipment-weapon-ballistic-missile_rack{background-position:-256px -320px;}
.roboquest64x64.mecha_parts-mecha_equipment-weapon-ballistic-missile_rack-heavy{background-position:-320px -320px;}
.roboquest64x64.mecha_parts-mecha_equipment-weapon-ballistic-missile_rack-medium{background-position:-384px -320px;}
.roboquest64x64.mecha_parts-mecha_equipment-weapon-ballistic-missile_rack-flashbang{background-position:-448px -320px;}
.roboquest64x64.mecha_parts-mecha_equipment-weapon-ballistic-missile_rack-flashbang-clusterbang{background-position:-512px -320px;}
.roboquest64x64.mecha_parts-mecha_equipment-weapon-ballistic-missile_rack-flashbang-clusterbang-limited{background-position:-576px -320px;}
.roboquest64x64.mecha_parts-mecha_equipment-weapon-ballistic-missile_rack-banana_mortar{background-position:-640px -320px;}
.roboquest64x64.mecha_parts-mecha_equipment-weapon-ballistic-missile_rack-mousetrap_mortar{background-position:-0px -384px;}
.roboquest64x64.mecha_parts-mecha_equipment-weapon-ballistic-missile_rack-bola{background-position:-64px -384px;}
.roboquest64x64.-datum-roboshop_item-bluespace_core{background-position:-128px -384px;}
.roboquest64x64.-datum-roboshop_item-mecha_drop{background-position:-192px -384px;}
.roboquest64x64.-datum-roboshop_item-bbag{background-position:-256px -384px;}
.roboquest64x64.-datum-roboshop_item-holotool{background-position:-320px -384px;}
.roboquest64x64.-datum-roboshop_item-shield_breacker{background-position:-384px -384px;}
.roboquest64x64.-datum-roboshop_item-experimental_parts{background-position:-448px -384px;}
.roboquest64x64.-datum-roboshop_item-paint_ripley_titan{background-position:-512px -384px;}
.roboquest64x64.-datum-roboshop_item-paint_ripley_earth{background-position:-576px -384px;}
.roboquest64x64.-datum-roboshop_item-paint_ripley_red{background-position:-640px -384px;}
.roboquest64x64.-datum-roboshop_item-paint_firefighter_hauler{background-position:-0px -448px;}
.roboquest64x64.-datum-roboshop_item-paint_firefighter_zairjah{background-position:-64px -448px;}
.roboquest64x64.-datum-roboshop_item-paint_firefighter_combat{background-position:-128px -448px;}
.roboquest64x64.-datum-roboshop_item-paint_firefighter_reaper{background-position:-192px -448px;}
.roboquest64x64.-datum-roboshop_item-paint_firefighter_aluminizer{background-position:-256px -448px;}
.roboquest64x64.-datum-roboshop_item-paint_ripley_nt{background-position:-320px -448px;}
.roboquest64x64.-datum-roboshop_item-paint_clarke_orangey{background-position:-384px -448px;}
.roboquest64x64.-datum-roboshop_item-paint_clarke_spiderclarke{background-position:-448px -448px;}
.roboquest64x64.-datum-roboshop_item-paint_odysseus_hermes{background-position:-512px -448px;}
.roboquest64x64.-datum-roboshop_item-paint_odysseus_reaper{background-position:-576px -448px;}
.roboquest64x64.-datum-roboshop_item-paint_gygax_alt{background-position:-640px -448px;}
.roboquest64x64.-datum-roboshop_item-paint_gygax_pobeda{background-position:-0px -512px;}
.roboquest64x64.-datum-roboshop_item-paint_gygax_white{background-position:-64px -512px;}
.roboquest64x64.-datum-roboshop_item-paint_gygax_medgax{background-position:-128px -512px;}
.roboquest64x64.-datum-roboshop_item-paint_gygax_black{background-position:-192px -512px;}
.roboquest64x64.-datum-roboshop_item-paint_gygax_pirate{background-position:-256px -512px;}
.roboquest64x64.-datum-roboshop_item-paint_durand_unathi{background-position:-320px -512px;}
.roboquest64x64.-datum-roboshop_item-paint_durand_shire{background-position:-384px -512px;}
.roboquest64x64.-datum-roboshop_item-paint_durand_pirate{background-position:-448px -512px;}
.roboquest64x64.-datum-roboshop_item-paint_durand_nt{background-position:-512px -512px;}
.roboquest64x64.-datum-roboshop_item-paint_durand_soviet{background-position:-576px -512px;}
.roboquest64x64.-datum-roboshop_item-paint_durand_executor{background-position:-640px -512px;}
.roboquest64x64.-datum-roboshop_item-paint_phazon_imperion{background-position:-0px -576px;}
.roboquest64x64.-datum-roboshop_item-paint_phazon_janus{background-position:-64px -576px;}
.roboquest64x64.-datum-roboshop_item-paint_phazon_plazmus{background-position:-128px -576px;}
.roboquest64x64.-datum-roboshop_item-paint_phazon_blanco{background-position:-192px -576px;}
.roboquest64x64.-datum-roboshop_item-paint_phazon_nt{background-position:-256px -576px;}
.roboquest64x64.-datum-roboshop_item-paint_ashed{background-position:-320px -576px;}