.chem_master_large32x32{display:inline-block;width:32px;height:32px;background:url('%chem_master_large_32x32.png%') no-repeat;}
.chem_master_large32x32.pill1{background-position:-0px -0px;}
.chem_master_large32x32.pill2{background-position:-32px -0px;}
.chem_master_large32x32.pill3{background-position:-64px -0px;}
.chem_master_large32x32.pill4{background-position:-96px -0px;}
.chem_master_large32x32.pill5{background-position:-128px -0px;}
.chem_master_large32x32.pill6{background-position:-160px -0px;}
.chem_master_large32x32.pill7{background-position:-192px -0px;}
.chem_master_large32x32.pill8{background-position:-0px -32px;}
.chem_master_large32x32.pill9{background-position:-32px -32px;}
.chem_master_large32x32.pill10{background-position:-64px -32px;}
.chem_master_large32x32.pill11{background-position:-96px -32px;}
.chem_master_large32x32.pill12{background-position:-128px -32px;}
.chem_master_large32x32.pill13{background-position:-160px -32px;}
.chem_master_large32x32.pill14{background-position:-192px -32px;}
.chem_master_large32x32.pill15{background-position:-0px -64px;}
.chem_master_large32x32.pill16{background-position:-32px -64px;}
.chem_master_large32x32.pill17{background-position:-64px -64px;}
.chem_master_large32x32.pill18{background-position:-96px -64px;}
.chem_master_large32x32.pill19{background-position:-128px -64px;}
.chem_master_large32x32.pill20{background-position:-160px -64px;}
.chem_master_large32x32.bottle{background-position:-192px -64px;}
.chem_master_large32x32.small_bottle{background-position:-0px -96px;}
.chem_master_large32x32.wide_bottle{background-position:-32px -96px;}
.chem_master_large32x32.round_bottle{background-position:-64px -96px;}
.chem_master_large32x32.reagent_bottle{background-position:-96px -96px;}
.chem_master_large32x32.bandaid1{background-position:-128px -96px;}
.chem_master_large32x32.bandaid2{background-position:-160px -96px;}
.chem_master_large32x32.bandaid3{background-position:-192px -96px;}
.chem_master_large32x32.bandaid4{background-position:-0px -128px;}
.chem_master_large32x32.bandaid5{background-position:-32px -128px;}
.chem_master_large32x32.bandaid6{background-position:-64px -128px;}
.chem_master_large32x32.bandaid7{background-position:-96px -128px;}
.chem_master_large32x32.bandaid8{background-position:-128px -128px;}
.chem_master_large32x32.bandaid9{background-position:-160px -128px;}
.chem_master_large32x32.bandaid10{background-position:-192px -128px;}
.chem_master_large32x32.bandaid11{background-position:-0px -160px;}
.chem_master_large32x32.bandaid12{background-position:-32px -160px;}
.chem_master_large32x32.bandaid13{background-position:-64px -160px;}
.chem_master_large32x32.bandaid14{background-position:-96px -160px;}
.chem_master_large32x32.bandaid15{background-position:-128px -160px;}
.chem_master_large32x32.bandaid16{background-position:-160px -160px;}
.chem_master_large32x32.bandaid17{background-position:-192px -160px;}
.chem_master_large32x32.bandaid18{background-position:-0px -192px;}
.chem_master_large32x32.bandaid19{background-position:-32px -192px;}
.chem_master_large32x32.bandaid20{background-position:-64px -192px;}