.roboquest_large128x128{display:inline-block;width:128px;height:128px;background:url('%roboquest_large_128x128.png%') no-repeat;}
.roboquest_large128x128.-datum-quest_mech-ripley{background-position:-0px -0px;}
.roboquest_large128x128.-datum-quest_mech-firefighter{background-position:-128px -0px;}
.roboquest_large128x128.-datum-quest_mech-clarke{background-position:-256px -0px;}
.roboquest_large128x128.-datum-quest_mech-odysseus{background-position:-0px -128px;}
.roboquest_large128x128.-datum-quest_mech-gygax{background-position:-128px -128px;}
.roboquest_large128x128.-datum-quest_mech-durand{background-position:-256px -128px;}