.cargo_quest42x42{display:inline-block;width:42px;height:42px;background:url('%cargo_quest_42x42.png%') no-repeat;}
.cargo_quest42x42.reagent_containers-glass-beaker-large{background-position:-0px -0px;}
.cargo_quest42x42.storage-box{background-position:-42px -0px;}
.cargo_quest42x42.slime_extract-grey{background-position:-84px -0px;}
.cargo_quest42x42.slime_extract-orange{background-position:-126px -0px;}
.cargo_quest42x42.slime_extract-purple{background-position:-168px -0px;}
.cargo_quest42x42.slime_extract-blue{background-position:-210px -0px;}
.cargo_quest42x42.slime_extract-metal{background-position:-252px -0px;}
.cargo_quest42x42.slime_extract-yellow{background-position:-294px -0px;}
.cargo_quest42x42.slime_extract-darkblue{background-position:-336px -0px;}
.cargo_quest42x42.slime_extract-darkpurple{background-position:-378px -0px;}
.cargo_quest42x42.slime_extract-silver{background-position:-420px -0px;}
.cargo_quest42x42.slime_extract-bluespace{background-position:-462px -0px;}
.cargo_quest42x42.slime_extract-sepia{background-position:-504px -0px;}
.cargo_quest42x42.slime_extract-cerulean{background-position:-546px -0px;}
.cargo_quest42x42.slime_extract-pyrite{background-position:-588px -0px;}
.cargo_quest42x42.slime_extract-green{background-position:-630px -0px;}
.cargo_quest42x42.slime_extract-red{background-position:-0px -42px;}
.cargo_quest42x42.slime_extract-pink{background-position:-42px -42px;}
.cargo_quest42x42.slime_extract-gold{background-position:-84px -42px;}
.cargo_quest42x42.slime_extract-adamantine{background-position:-126px -42px;}
.cargo_quest42x42.slime_extract-oil{background-position:-168px -42px;}
.cargo_quest42x42.slime_extract-black{background-position:-210px -42px;}
.cargo_quest42x42.slime_extract-lightpink{background-position:-252px -42px;}
.cargo_quest42x42.slime_extract-rainbow{background-position:-294px -42px;}
.cargo_quest42x42.organ-internal-eyes-tajaran{background-position:-336px -42px;}
.cargo_quest42x42.organ-internal-eyes-vulpkanin{background-position:-378px -42px;}
.cargo_quest42x42.organ-internal-headpocket{background-position:-420px -42px;}
.cargo_quest42x42.organ-internal-eyes-unathi{background-position:-462px -42px;}
.cargo_quest42x42.organ-internal-eyes-nian{background-position:-504px -42px;}
.cargo_quest42x42.organ-internal-liver-skrell{background-position:-546px -42px;}
.cargo_quest42x42.organ-internal-kidneys-grey{background-position:-588px -42px;}
.cargo_quest42x42.organ-internal-liver-kidan{background-position:-630px -42px;}
.cargo_quest42x42.organ-internal-lungs-slime{background-position:-0px -84px;}
.cargo_quest42x42.organ-internal-liver-grey{background-position:-42px -84px;}
.cargo_quest42x42.organ-internal-heart-slime{background-position:-84px -84px;}
.cargo_quest42x42.organ-internal-liver-diona{background-position:-126px -84px;}
.cargo_quest42x42.organ-internal-lungs-unathi-ash_walker{background-position:-168px -84px;}
.cargo_quest42x42.organ-internal-lantern{background-position:-210px -84px;}
.cargo_quest42x42.reagent_containers-food-snacks-friedegg{background-position:-252px -84px;}
.cargo_quest42x42.reagent_containers-food-snacks-tofuburger{background-position:-294px -84px;}
.cargo_quest42x42.reagent_containers-food-snacks-boiledpelmeni{background-position:-336px -84px;}
.cargo_quest42x42.reagent_containers-food-snacks-omelette{background-position:-378px -84px;}
.cargo_quest42x42.reagent_containers-food-snacks-cheeseburger{background-position:-420px -84px;}
.cargo_quest42x42.reagent_containers-food-snacks-benedict{background-position:-462px -84px;}
.cargo_quest42x42.reagent_containers-food-snacks-monkeyburger{background-position:-504px -84px;}
.cargo_quest42x42.reagent_containers-food-snacks-hotdog{background-position:-546px -84px;}
.cargo_quest42x42.reagent_containers-food-snacks-sausage{background-position:-588px -84px;}
.cargo_quest42x42.reagent_containers-food-snacks-pastatomato{background-position:-630px -84px;}
.cargo_quest42x42.reagent_containers-food-snacks-soup-tomatosoup{background-position:-0px -126px;}
.cargo_quest42x42.reagent_containers-food-snacks-meatballspaghetti{background-position:-42px -126px;}
.cargo_quest42x42.reagent_containers-food-snacks-smokedsausage{background-position:-84px -126px;}
.cargo_quest42x42.reagent_containers-food-snacks-lasagna{background-position:-126px -126px;}
.cargo_quest42x42.reagent_containers-food-snacks-candy-jellybean-purple{background-position:-168px -126px;}
.cargo_quest42x42.reagent_containers-food-snacks-muffin{background-position:-210px -126px;}
.cargo_quest42x42.reagent_containers-food-snacks-yakiimo{background-position:-252px -126px;}
.cargo_quest42x42.reagent_containers-food-snacks-soup-beetsoup{background-position:-294px -126px;}
.cargo_quest42x42.reagent_containers-food-snacks-fishburger{background-position:-336px -126px;}
.cargo_quest42x42.reagent_containers-food-snacks-monkeysdelight{background-position:-378px -126px;}
.cargo_quest42x42.reagent_containers-food-snacks-pancake-choc_chip_pancake{background-position:-420px -126px;}
.cargo_quest42x42.reagent_containers-food-snacks-superbiteburger{background-position:-462px -126px;}
.cargo_quest42x42.reagent_containers-food-snacks-sushi_TobikoEgg{background-position:-504px -126px;}
.cargo_quest42x42.reagent_containers-food-snacks-sushi_Unagi{background-position:-546px -126px;}
.cargo_quest42x42.reagent_containers-food-snacks-sliceable-salami{background-position:-588px -126px;}
.cargo_quest42x42.reagent_containers-food-snacks-amanitajelly{background-position:-630px -126px;}
.cargo_quest42x42.reagent_containers-food-snacks-candy-jawbreaker{background-position:-0px -168px;}
.cargo_quest42x42.reagent_containers-food-snacks-plov{background-position:-42px -168px;}
.cargo_quest42x42.reagent_containers-food-snacks-donut-chaos{background-position:-84px -168px;}
.cargo_quest42x42.reagent_containers-food-snacks-sliceable-noel{background-position:-126px -168px;}
.cargo_quest42x42.reagent_containers-food-snacks-donut-jelly-slimejelly{background-position:-168px -168px;}
.cargo_quest42x42.reagent_containers-food-snacks-aesirsalad{background-position:-210px -168px;}
.cargo_quest42x42.reagent_containers-food-snacks-candy-sucker{background-position:-252px -168px;}
.cargo_quest42x42.reagent_containers-food-snacks-appletart{background-position:-294px -168px;}
.cargo_quest42x42.reagent_containers-food-snacks-chawanmushi{background-position:-336px -168px;}
.cargo_quest42x42.reagent_containers-food-snacks-sashimi{background-position:-378px -168px;}
.cargo_quest42x42.reagent_containers-food-snacks-meatsteak-vulpkanin{background-position:-420px -168px;}
.cargo_quest42x42.reagent_containers-food-snacks-meatsteak-human{background-position:-462px -168px;}
.cargo_quest42x42.reagent_containers-food-snacks-meatsteak-slime{background-position:-504px -168px;}
.cargo_quest42x42.reagent_containers-food-snacks-meatsteak-skrell{background-position:-546px -168px;}
.cargo_quest42x42.reagent_containers-food-snacks-meatsteak-tajaran{background-position:-588px -168px;}
.cargo_quest42x42.reagent_containers-food-snacks-meatsteak-unathi{background-position:-630px -168px;}
.cargo_quest42x42.reagent_containers-food-snacks-meatsteak-vox{background-position:-0px -210px;}
.cargo_quest42x42.reagent_containers-food-snacks-meatsteak-wryn{background-position:-42px -210px;}
.cargo_quest42x42.reagent_containers-food-snacks-meatsteak-kidan{background-position:-84px -210px;}
.cargo_quest42x42.reagent_containers-food-snacks-meatsteak-diona{background-position:-126px -210px;}
.cargo_quest42x42.reagent_containers-food-snacks-meatsteak-nian{background-position:-168px -210px;}
.cargo_quest42x42.reagent_containers-food-snacks-meatsteak-drask{background-position:-210px -210px;}
.cargo_quest42x42.reagent_containers-food-snacks-meatsteak-grey{background-position:-252px -210px;}
.cargo_quest42x42.reagent_containers-food-snacks-vulpix-chilli{background-position:-294px -210px;}
.cargo_quest42x42.reagent_containers-food-snacks-soup-stew{background-position:-336px -210px;}
.cargo_quest42x42.reagent_containers-food-snacks-vulpix-cheese{background-position:-378px -210px;}
.cargo_quest42x42.reagent_containers-food-snacks-vulpix{background-position:-420px -210px;}
.cargo_quest42x42.reagent_containers-food-snacks-weirdoliviersalad{background-position:-462px -210px;}
.cargo_quest42x42.reagent_containers-food-snacks-doner_mushroom{background-position:-504px -210px;}
.cargo_quest42x42.reagent_containers-food-snacks-doner_vegan{background-position:-546px -210px;}
.cargo_quest42x42.reagent_containers-food-snacks-tajaroni{background-position:-588px -210px;}
.cargo_quest42x42.reagent_containers-food-snacks-boiledslimecore{background-position:-630px -210px;}
.cargo_quest42x42.reagent_containers-food-snacks-sliceable-lizard{background-position:-0px -252px;}
.cargo_quest42x42.reagent_containers-food-snacks-shawarma{background-position:-42px -252px;}
.cargo_quest42x42.reagent_containers-food-snacks-dionaroast{background-position:-84px -252px;}
.cargo_quest42x42.reagent_containers-food-snacks-fruitcup{background-position:-126px -252px;}
.cargo_quest42x42.reagent_containers-food-snacks-candy-cotton-bad_rainbow{background-position:-168px -252px;}
.cargo_quest42x42.reagent_containers-food-snacks-candy-cotton-rainbow{background-position:-210px -252px;}
.cargo_quest42x42.reagent_containers-food-snacks-fried_vox{background-position:-252px -252px;}
.cargo_quest42x42.reagent_containers-food-snacks-sliceable-bread-xeno{background-position:-294px -252px;}
.cargo_quest42x42.reagent_containers-food-snacks-rofflewaffles{background-position:-336px -252px;}
.cargo_quest42x42.crusher_trophy-legion_skull{background-position:-378px -252px;}
.cargo_quest42x42.crusher_trophy-watcher_wing{background-position:-420px -252px;}
.cargo_quest42x42.gem-topaz{background-position:-462px -252px;}
.cargo_quest42x42.gem-emerald{background-position:-504px -252px;}
.cargo_quest42x42.gem-sapphire{background-position:-546px -252px;}
.cargo_quest42x42.gem-ruby{background-position:-588px -252px;}
.cargo_quest42x42.crusher_trophy-goliath_tentacle{background-position:-630px -252px;}
.cargo_quest42x42.gem-rupee{background-position:-0px -294px;}
.cargo_quest42x42.gem-fdiamond{background-position:-42px -294px;}
.cargo_quest42x42.crusher_trophy-blaster_tubes-magma_wing{background-position:-84px -294px;}
.cargo_quest42x42.crusher_trophy-watcher_wing-ice_wing{background-position:-126px -294px;}
.cargo_quest42x42.gem-magma{background-position:-168px -294px;}
.cargo_quest42x42.gem-phoron{background-position:-210px -294px;}
.cargo_quest42x42.gem-purple{background-position:-252px -294px;}
.cargo_quest42x42.gem-amber{background-position:-294px -294px;}
.cargo_quest42x42.stack-sheet-metal{background-position:-336px -294px;}
.cargo_quest42x42.stack-sheet-mineral-gold{background-position:-378px -294px;}
.cargo_quest42x42.stack-sheet-mineral-titanium{background-position:-420px -294px;}
.cargo_quest42x42.stack-sheet-mineral-uranium{background-position:-462px -294px;}
.cargo_quest42x42.stack-sheet-glass{background-position:-504px -294px;}
.cargo_quest42x42.stack-sheet-mineral-diamond{background-position:-546px -294px;}
.cargo_quest42x42.stack-sheet-plasteel{background-position:-588px -294px;}
.cargo_quest42x42.stack-sheet-mineral-plasma{background-position:-630px -294px;}
.cargo_quest42x42.stack-sheet-mineral-silver{background-position:-0px -336px;}
.cargo_quest42x42.stack-sheet-bluespace_crystal{background-position:-42px -336px;}
.cargo_quest42x42.stack-sheet-mineral-bananium{background-position:-84px -336px;}
.cargo_quest42x42.stack-sheet-mineral-tranquillite{background-position:-126px -336px;}
.cargo_quest42x42.stack-sheet-mineral-adamantine{background-position:-168px -336px;}
.cargo_quest42x42.seeds-harebell{background-position:-210px -336px;}
.cargo_quest42x42.seeds-starthistle{background-position:-252px -336px;}
.cargo_quest42x42.seeds-glowshroom-glowcap{background-position:-294px -336px;}
.cargo_quest42x42.seeds-nettle-death{background-position:-336px -336px;}
.cargo_quest42x42.seeds-ambrosia-gaia{background-position:-378px -336px;}
.cargo_quest42x42.seeds-ambrosia-deus{background-position:-420px -336px;}
.cargo_quest42x42.seeds-cotton-durathread{background-position:-462px -336px;}
.cargo_quest42x42.seeds-grass-carpet{background-position:-504px -336px;}
.cargo_quest42x42.seeds-tobacco-space{background-position:-546px -336px;}
.cargo_quest42x42.seeds-tomato-blue-bluespace{background-position:-588px -336px;}
.cargo_quest42x42.seeds-glowshroom-shadowshroom{background-position:-630px -336px;}
.cargo_quest42x42.seeds-tomato-blood{background-position:-0px -378px;}
.cargo_quest42x42.seeds-tomato-blue{background-position:-42px -378px;}
.cargo_quest42x42.seeds-sunflower-novaflower{background-position:-84px -378px;}
.cargo_quest42x42.seeds-carrot-parsnip{background-position:-126px -378px;}
.cargo_quest42x42.seeds-tea-astra{background-position:-168px -378px;}
.cargo_quest42x42.seeds-soya-olive-charc{background-position:-210px -378px;}
.cargo_quest42x42.seeds-geranium{background-position:-252px -378px;}
.cargo_quest42x42.seeds-lily{background-position:-294px -378px;}
.cargo_quest42x42.seeds-geranium-forgetmenot{background-position:-336px -378px;}
.cargo_quest42x42.seeds-coffee-robusta{background-position:-378px -378px;}
.cargo_quest42x42.seeds-apple-gold{background-position:-420px -378px;}
.cargo_quest42x42.seeds-soya-koi{background-position:-462px -378px;}
.cargo_quest42x42.seeds-redbeet{background-position:-504px -378px;}
.cargo_quest42x42.seeds-sunflower-moonflower{background-position:-546px -378px;}
.cargo_quest42x42.seeds-chili-ice{background-position:-588px -378px;}
.cargo_quest42x42.seeds-tomato-killer{background-position:-630px -378px;}
.cargo_quest42x42.seeds-cocoapod-vanillapod{background-position:-0px -420px;}
.cargo_quest42x42.seeds-plump-walkingmushroom{background-position:-42px -420px;}
.cargo_quest42x42.seeds-onion-red{background-position:-84px -420px;}
.cargo_quest42x42.seeds-firelemon{background-position:-126px -420px;}
.cargo_quest42x42.seeds-cannabis-white{background-position:-168px -420px;}
.cargo_quest42x42.seeds-cannabis-rainbow{background-position:-210px -420px;}
.cargo_quest42x42.seeds-cherry-blue{background-position:-252px -420px;}
.cargo_quest42x42.seeds-tower-steel{background-position:-294px -420px;}
.cargo_quest42x42.seeds-berry-glow{background-position:-336px -420px;}
.cargo_quest42x42.seeds-berry-poison{background-position:-378px -420px;}
.cargo_quest42x42.seeds-wheat-oat{background-position:-420px -420px;}
.cargo_quest42x42.seeds-chili-ghost{background-position:-462px -420px;}
.cargo_quest42x42.seeds-corn-snapcorn{background-position:-504px -420px;}
.cargo_quest42x42.seeds-cocoapod-bungotree{background-position:-546px -420px;}
.cargo_quest42x42.seeds-grape-green{background-position:-588px -420px;}
.cargo_quest42x42.seeds-banana-bluespace{background-position:-630px -420px;}
.cargo_quest42x42.seeds-eggplant-eggy{background-position:-0px -462px;}
.cargo_quest42x42.seeds-watermelon-holy{background-position:-42px -462px;}
.cargo_quest42x42.seeds-orange_3d{background-position:-84px -462px;}
.cargo_quest42x42.seeds-pumpkin-blumpkin{background-position:-126px -462px;}
.cargo_quest42x42.seeds-cannabis-ultimate{background-position:-168px -462px;}
.cargo_quest42x42.seeds-wheat-buckwheat{background-position:-210px -462px;}
.cargo_quest42x42.seeds-cannabis-death{background-position:-252px -462px;}
.cargo_quest42x42.seeds-potato-sweet{background-position:-294px -462px;}
.cargo_quest42x42.seeds-berry-death{background-position:-336px -462px;}
.cargo_quest42x42.seeds-banana-mime{background-position:-378px -462px;}
.cargo_quest42x42.seeds-angel{background-position:-420px -462px;}
.cargo_quest42x42.seeds-lavaland-cactus{background-position:-462px -462px;}
.cargo_quest42x42.seeds-lavaland-ember{background-position:-504px -462px;}
.cargo_quest42x42.seeds-lavaland-inocybe{background-position:-546px -462px;}
.cargo_quest42x42.seeds-lavaland-polypore{background-position:-588px -462px;}
.cargo_quest42x42.seeds-lavaland-porcini{background-position:-630px -462px;}
.cargo_quest42x42.disk-plantgene{background-position:-0px -504px;}
.cargo_quest42x42.dnainjector{background-position:-42px -504px;}
.cargo_quest42x42.reagent_containers-glass-beaker-vial{background-position:-84px -504px;}
.cargo_quest42x42.mobcapsule{background-position:-126px -504px;}
.cargo_quest42x42.b52{background-position:-168px -504px;}
.cargo_quest42x42.bacchus_blessing{background-position:-210px -504px;}
.cargo_quest42x42.beepskysmash{background-position:-252px -504px;}
.cargo_quest42x42.demonsblood{background-position:-294px -504px;}
.cargo_quest42x42.devilskiss{background-position:-336px -504px;}
.cargo_quest42x42.driestmartini{background-position:-378px -504px;}
.cargo_quest42x42.eggnog{background-position:-420px -504px;}
.cargo_quest42x42.flamingmoe{background-position:-462px -504px;}
.cargo_quest42x42.ginsonic{background-position:-504px -504px;}
.cargo_quest42x42.hippiesdelight{background-position:-546px -504px;}
.cargo_quest42x42.amnesia{background-position:-588px -504px;}
.cargo_quest42x42.threemileisland{background-position:-630px -504px;}
.cargo_quest42x42.neurotoxin{background-position:-0px -546px;}
.cargo_quest42x42.rainbow_sky{background-position:-42px -546px;}
.cargo_quest42x42.sbiten{background-position:-84px -546px;}
.cargo_quest42x42.singulo{background-position:-126px -546px;}
.cargo_quest42x42.suicider{background-position:-168px -546px;}
.cargo_quest42x42.moonlight_skuma{background-position:-210px -546px;}
.cargo_quest42x42.blue_moondrin{background-position:-252px -546px;}
.cargo_quest42x42.red_moondrin{background-position:-294px -546px;}
.cargo_quest42x42.nagasaki{background-position:-336px -546px;}
.cargo_quest42x42.alcomender{background-position:-378px -546px;}
.cargo_quest42x42.milk_plus{background-position:-420px -546px;}
.cargo_quest42x42.teslasingylo{background-position:-462px -546px;}
.cargo_quest42x42.telegol{background-position:-504px -546px;}
.cargo_quest42x42.inabox{background-position:-546px -546px;}
.cargo_quest42x42.monako{background-position:-588px -546px;}
.cargo_quest42x42.slime_drink{background-position:-630px -546px;}
.cargo_quest42x42.restart{background-position:-0px -588px;}
.cargo_quest42x42.gibbfloats{background-position:-42px -588px;}
.cargo_quest42x42.nuka_cola{background-position:-84px -588px;}
.cargo_quest42x42.pumpkin_latte{background-position:-126px -588px;}
.cargo_quest42x42.zazafizzy{background-position:-168px -588px;}