$background-color: rgba(0, 0, 0, 0.33) !default;

.NanoMap__container {
  overflow: hidden;
  width: 100%;
  z-index: 1;
}

.NanoMap__marker {
  z-index: 10;
  padding: 0px;
  margin: 0px;
}

.NanoMap__marker__bordered {
  z-index: 10;
  padding: 0px;
  margin: 0px;
  border: 2px solid black;
}

.NanoMap__zoomer {
  z-index: 20;
  background-color: $background-color;
  position: absolute;
  top: 30px;
  left: 0;
  padding: 0.5rem;
  width: 20rem;
}

.NanoMap__zlevel {
  z-index: 20;
  background-color: $background-color;
  position: absolute;
  top: 30px;
  left: 20.5rem;
  padding: 0.5rem;
  width: 20rem;
}
