.theme-cargo:root {
  --cargo-color: hsl(35, 50%, 40%);

  // Base
  --color-base: hsl(from var(--cargo-color) h s calc(l - 22.5));
  --color-primary: var(--cargo-color);
  --secondary-lightness-adjustment: -5;
  --border-radius-unit: 0.17;

  // Components
  --button-color-transparent: hsl(from var(--cargo-color) h s 85 / 0.75);
  --progress-bar-background: hsla(0, 0%, 0%, 0.5);
  --tooltip-background-lightness: 25;
}
