.theme-changeling:root {
  // Base
  --color-base: hsl(277, 15%, 17.5%);
  --color-primary: hsl(272.6, 27.4%, 32.9%);
  --color-secondary: hsl(274, 13.5%, 20.5%);
  --base-gradient-spread: 6;
  --border-radius-unit: 0.17;

  // Components
  --button-background-selected: hsl(152, 69%, 31%);
  --image-button-background-default: hsl(from var(--color-primary) h s calc(l - 20));
  --tab-background-selected: var(--color-primary);

  .Layout__content {
    background-image: none;
  }
}
