.theme-honker:root {
  // Base
  --color-base: #e83a93;
  --color-primary: #4c10ae;
  --color-label: #ecebec;
  --color-good: #ffe940;
  --color-average: #7c45d6;
  --color-bad: #b2f63d;
  --color-secondary: #d2006b;
  --base-gradient-spread: 6;
  --candystripe-odd: rgba(0, 0, 0, 0.4);
  --candystripe-even: rgba(0, 0, 0, 0.25);

  // Components
  --button-background-default: var(--color-primary);
  --button-background-disabled: #946bd6;
  --button-background-selected: var(--color-good);
  --button-background-caution: #be6209;
  --button-background-danger: #9a9d00;
  --button-color-transparent: rgba(227, 240, 255, 0.75);
  --image-button-background-default: hsl(from var(--color-primary) h s calc(l - 20));
  --image-button-background-disabled: #ff9ef4;
  --image-button-background-selected: #dde128;
  --border-primary: #dde128;
  --notice-box-background: #ff9ef4;
  --progress-bar-background: rgba(0, 0, 0, 0.5);
  --tooltip-background: #ff00aa;

  .Layout__content {
    background-image: url('../../assets/bg-clown.svg');
  }
}
