.theme-hydroponics:root {
  // Base
  --color-base: hsl(120, 10%, 9%);
  --color-primary: hsl(120, 37.6%, 45.9%);
  --color-blue: hsl(120, 72.6%, 47.3%);
  --color-label: hsl(120, 18.9%, 57.5%);
  --color-border-primary: hsl(120, 100%, 76.7%);
  --base-gradient-spread: 6;
}
