.theme-infernal:root {
  // Base
  --color-base: hsl(26, 48%, 11.5%);
  --color-primary: hsl(0, 100%, 27.3%);
  --color-secondary: hsl(0, 41.5%, 20.8%);
  --color-border-primary: hsl(0, 59.4%, 40.6%);
  --base-gradient-spread: 6;

  // Components
  --button-background-disabled: hsl(19, 29%, 28%);
  --button-background-selected: hsl(0, 68%, 42%);
  --button-background-caution: hsl(30, 59%, 52.5%);
  --button-background-danger: var(--color-primary);
  --image-button-background-default: hsl(from var(--color-primary) h s calc(l - 20));
  --image-button-background-disabled: hsl(19, 29%, 28%);
  --image-button-background-selected: hsl(0, 68%, 42%);
  --notice-box-background: var(--color-secondary);
  --progress-bar-background: rgba(0, 0, 0, 0.5);
  --tooltip-background-lightness: 15;

  .Layout__content {
    background-image: url('../../assets/bg-codex_gygax.svg');
  }
}
