.theme-safe:root {
  // Base
  --color-base: hsl(217.5, 26.1%, 18%);
  --color-primary: hsl(207.4, 27.4%, 32.9%);
  --color-secondary: hsl(217, 26%, 28%);
  --color-section: hsl(56, 29%, 58%);
  --base-gradient-spread: 1;

  .Layout__content {
    background-image: none;
  }

  .Section {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-style: italic;
    color: var(--color-black);
    box-shadow: 5px 5px hsl(0, 0%, 6.7%);
    background-image: linear-gradient(
      to bottom,
      hsl(56.1, 28.7%, 57.6%) 0%,
      hsl(56.3, 20.9%, 46.1%) 100%
    );
    transform: rotate(-1deg);

    &__title {
      padding-bottom: 0;
      border: 0;
    }

    &:before {
      content: ' ';
      display: block;
      width: 24px;
      height: 40px;
      background-image: linear-gradient(
        to bottom,
        transparent 0%,
        hsl(0, 0%, 100%) 100%
      );
      box-shadow: 1px 1px hsl(0, 0%, 6.7%);
      opacity: 0.2;
      position: absolute;
      top: -30px;
      left: calc(50% - 12px);
      transform: rotate(-5deg);
    }
  }
}
