.theme-securestorage:root {
  // Base
  --color-base: hsl(52, 40%, 85%);
  --color-primary: hsl(120, 34%, 34%);
  --color-text: hsl(60, 6%, 9%);
  --base-gradient-spread: 6;
  --border-radius-unit: 0.17;

  .Layout__content {
    background-image: none;
  }
}
