.theme-security:root {
  // Base
  --color-base: hsl(2, 82%, 23%);
  --color-primary: hsl(2, 37.6%, 45.9%);
  --color-blue: hsl(355.9, 72.6%, 47.3%);
  --color-label: hsl(4.4, 18.9%, 57.5%);
  --color-border-primary: hsl(2.5, 100%, 76.7%);

  // Components
  --image-button-background-default: hsl(from var(--color-primary) h s calc(l - 23));
}
