.theme-spider_clan,
.theme-spider_clan-green:root,
.theme-spider_clan-red:root,
.theme-spider_clan-blue:root {
  // Base
  --base-gradient-spread: 5;
  --border-radius-unit: 0.17;

  // Components
  --button-background-disabled: hsl(0, 0%, 22.7%);
  --button-background-caution: hsl(29.5, 91%, 39%);
  --button-background-danger: hsl(61, 100%, 30.8%);
  --progress-bar-background: rgba(0, 0, 0, 0.5);

  .Tooltip {
    font-family: 'Times New Roman', Times, serif;
    color: var(--color-text);
  }

  .Button {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    border-radius: 20px;
    color: var(--button-color) !important;
  }

  .Button_disabled {
    background-color: rgba(50, 50, 50, 0.5) !important;
    color: var(--color-text) !important;
  }

  .NoticeBox {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 16px;
  }

  .Dropdown__control {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
	border-radius: 10px;
  }

  .Layout__content {
    background-image: url('../../assets/bg-spider_clan.svg');
  }
}
.theme-spider_clan,
.theme-spider_clan-green:root {
  // Base
  --color-base: hsl(120, 100%, 7.8%);
  --color-primary: hsl(130, 68%, 38%);
  --color-text: hsl(143, 70%, 35%);
  --color-secondary: hsl(140, 90%, 15.3%);
  --color-border-primary: hsl(120, 42%, 66.9%);

  // Components
  --button-background-default: var(--color-primary);
  --button-background-selected: hsl(118, 91%, 56%);
  --button-color: hsl(154, 100%, 11%);
  --notice-box-background: var(--color-secondary);
  --section-background: hsl(120, 100%, 9.4%);
  --tooltip-background: var(--color-base);
}

.theme-spider_clan-red:root {
  // Base
  --color-base: hsl(0, 100%, 7.8%);
  --color-primary: hsl(0, 71%, 39%);
  --color-text: hsl(0, 95.7%, 54.9%);
  --color-secondary: hsl(350, 90%, 15.3%);
  --color-border-primary: hsl(0, 42%, 66.9%);

  --button-background-default: var(--color-primary);
  --button-color: hsl(0, 100%, 11%);
  --button-background-selected: hsl(0, 93%, 49%);
  --notice-box-background: var(--color-secondary);
  --section-background: hsl(0, 100%, 9.4%);
  --tooltip-background: var(--color-base);
}

.theme-spider_clan-blue:root {
  // Base
  --color-base: hsl(210, 100%, 7.8%);
  --color-primary: hsl(210, 76%, 33%);
  --color-text: hsl(210, 95.7%, 54.9%);
  --color-secondary: hsl(220, 90%, 15.3%);
  --color-border-primary: hsl(210, 42%, 66.9%);

  // Components
  --button-background-default: var(--color-primary);
  --button-background-selected: hsl(210, 93%, 56%);
  --button-color: hsl(210, 100%, 11%);
  --notice-box-background: var(--color-secondary);
  --section-background: hsl(210, 100%, 9.4%);
  --tooltip-background: var(--color-base);
}
