.theme-spider_clan:root {
  // Base
  --color-base: hsl(120, 100%, 7.8%);
  --color-primary: hsl(143, 83%, 48.4%);
  --color-text: hsl(143, 95.7%, 54.9%);
  --color-secondary: hsl(140, 90%, 15.3%);
  --color-border-primary: hsl(120, 42%, 66.9%);
  --base-gradient-spread: 5;
  --border-radius-unit: 0.17;

  // Components
  --button-background-default: var(--color-primary);
  --button-background-disabled: hsl(0, 0%, 22.7%);
  --button-background-selected: hsl(112, 98%, 55.5%);
  --button-background-caution: hsl(29.5, 91%, 39%);
  --button-background-danger: hsl(61, 100%, 30.8%);
  --button-color: hsl(154, 100%, 11%);
  --notice-box-background: var(--color-secondary);
  --progress-bar-background: rgba(0, 0, 0, 0.5);
  --section-background: hsl(120, 100%, 9.4%);
  --tooltip-background: var(--color-base);

  .Tooltip {
    font-family: 'Times New Roman', Times, serif;
    color: var(--color-primary);
  }

  .Button {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    border-radius: 20px;
    color: var(--button-color) !important;
  }

  .Button_red {
    background-color: rgba(204, 0, 0, 0.1) !important;
    border-radius: 20px;

    &:hover {
      background-color: rgba(80, 20, 20, 0.1) !important;
    }
  }

  .Button_green {
    background-color: rgba(21, 226, 100, 0.1) !important;
    border-radius: 20px;

    &:hover {
      background-color: rgba(4, 74, 27, 0.1) !important;
    }
  }

  .Button_blue {
    background-color: rgba(0, 174, 208, 0.1) !important;
    border-radius: 20px;

    &:hover {
      background-color: rgba(53, 94, 163, 0.1) !important;
    }
  }

  .Button_disabled {
    background-color: rgba(50, 50, 50, 0.5) !important;
    color: var(--color-primary) !important;
  }

  .NoticeBox {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 16px;
  }

  .Dropdown__control {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
  }

  .Layout__content {
    background-image: url('../../assets/bg-spider_clan.svg');
  }
}
